._content {
    line-height: 1.45;
    min-height: 120px;

    p {
        margin: 0 0 1em;
    }

    em, i {
        font-style: italic;
    }

    strong, b {
        font-weight: bold;
    }

    ul, ol {
        margin: 0 24px 12px;

        ul, ol {
            margin: 6px 24px;
        }
    }

    ol {
        list-style: decimal outside;
    }

    ul {
        list-style: disc outside;
    }

    h2 {
        font-size: 30px;
        margin: 0 0 12px;
    }

    h3 {
        font-size: 26px;
        margin: 0 0 8px;
    }

    video {
        max-width: 100%;
    }
}
