.a11y-nav {
    z-index: 99;

    &, a {
        position: absolute;
        left: 0;
        top: 0;
    }

    a {
        display: block;
        padding: 4px;
        background: var(--brand-orange);
        color: #FFF;
        text-decoration: none;

        border: 0;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        position: absolute;
        width: 1px;

        &:active, &:focus {
            clip: auto;
            height: auto;
            margin: 0;
            overflow: visible;
            position: static;
            width: auto;
        }
    }
}
