.about-us {
    line-height: 1.5;

    h2 > a, h3 > a, h4 > a, h5 > a, h6 > a {
        color: var(--brand-dark-grey);
        text-decoration: none;

        &:hover, &:focus {
            text-decoration: underline;
            color: var(--brand-orange);

            &::after {
                content: '';
                display: inline-block;
                margin: 0 0 0 12px;
                background: url(../icons/link.svg) no-repeat 0 0 / contain;
            }
        }
    }

    > h1 {
        margin: 0 0 12px;
    }

    > h2 {
        font-size: 30px;
        margin: 0 0 12px;

        > a:hover::after, > a:focus::after {
            width: 24px;
            height: 24px;
            vertical-align: -2px;
        }
    }

    > h2:has(+ .site-stats) {
        margin: 48px 0 0;
    }

    > h3 {
        font-size: 26px;
        margin: 0 0 8px;

        > a:hover::after, > a:focus::after {
            width: 21px;
            height: 22px;
            vertical-align: -3px;
        }
    }

    > p {
        margin: 0 0 1em;
    }

    > ul, > ol {
        margin: 0 0 12px 24px;
        padding: 0;

        ul, ol {
            margin: 6px 24px;
        }
    }

    em, i {
        font-style: italic;
    }

    strong, b {
        font-weight: bold;
    }

    ol {
        list-style: decimal outside;
    }

    ul {
        list-style: disc outside;
    }
}
