.image-grid {
    padding: 0 0 1em;

    &:has(+ .image-grid) {
        padding: 0 0 8px;
    }

    > .images {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 8px;
        justify-items: end;

        > *:nth-child(2n) {
            justify-self: start;
        }
    }

    &.-one > .images {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
    }

    > .description {
        font-size: 14px;
        color: var(--brand-grey);
    }


    &.-right {
        float: right;
        padding: 0 0 1em 1em;
    }

    &.-captions > .images {
        row-gap: 16px;
    }

    picture {
        padding: 1px;
        border: 1px solid var(--brand-lighter-grey);
        transition: border-color .15s, background-color .15s;

        img {
            height: auto;
        }
    }

    a:hover picture, a:focus picture {
        border-color: var(--brand-orange);
        background-color: var(--brand-orange);
    }
}
