.image-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 8px;
    justify-items: end;
    padding: 0 0 1em;

    > *:nth-child(2n) {
        justify-self: start;
    }

    &.-one {
        display: block;
        text-align: center;
        padding: 0 0 8px;
    }

    &.-right {
        float: right;
        padding: 0 0 1em 1em;
    }

    &.-captions {
        row-gap: 16px;
    }

    picture {
        display: block;
        padding: 1px;
        border: 1px solid var(--brand-lighter-grey);
        transition: border-color .15s, background-color .15s;

        img {
            height: auto;
        }
    }

    a:hover picture, a:focus picture {
        border-color: var(--brand-orange);
        background-color: var(--brand-orange);
    }
}
