.image-slideshow {
    width: 100%;
    max-width: 800px;
    padding: 0 0 1em;
    margin: 0 auto;

    > .track {
        overflow: hidden;
        margin: 0 0 6px;
    }

    .container {
        display: flex;

        > .slide {
            flex: 0 0 100%;
            min-width: 0;
            background: var(--brand-dark-beige);
        }
    }

    > .controls {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        gap: 10px;

        @media (scripting: none) {
            display: none;
        }

        > .bullets {
            flex: 1 0 auto;
            display: flex;
            flex-flow: row nowrap;
            gap: 4px;

            @media (scripting: none) {
                display: none;
            }

            button {
                appearance: none;
                border: none;
                border-radius: 6px;
                background: var(--brand-dark-beige);
                width: 12px;
                height: 12px;
                cursor: pointer;
                outline: 1px solid transparent;
                transition: outline-color .15s, background-color .15s;

                &:focus, &:hover {
                    outline: 1px solid var(--brand-darker-beige);
                }

                &.-active {
                    background: var(--brand-orange);
                }
            }
        }

        .left, .right, .toggle {
            display: inline-flex;
            justify-content: center;
            align-items: center;
            appearance: none;
            border: 1px solid var(--brand-darker-beige);
            background: var(--brand-dark-beige);
            border-radius: 50%;
            font-size: 0;
            color: transparent;
            width: 32px;
            height: 32px;
            line-height: 1;
            cursor: pointer;

            &:focus, &:hover {
                border-color: var(--brand-orange);

                svg {
                    fill: var(--brand-orange);
                    color: var(--brand-orange);
                }
            }
        }

        svg {
            width: 26px;
            height: 26px;
            fill: var(--brand-grey);
            color: var(--brand-grey);
        }

        > .left {
            svg {
                height: 28px;
            }
        }

        > .right {
            svg {
                width: 28px;
            }
        }

        > .toggle {
            position: relative;

            &:hover, &:focus {
                &.-play::before {
                    border-color: var(--brand-orange);
                }
            }

            &::before {
                content: '';
                position: absolute;
                inset: 0;
                box-sizing: border-box;
                border-radius: 50%;
                transform: rotate(45deg);
            }

            svg {
                width: 18px;
                height: 18px;
            }

            &.-pause {
                .pause {
                    display: none;
                }

                .play {
                    display: block;
                }
            }

            &.-play {
                &::before {
                    border: 3px solid var(--brand-dark-grey);
                    animation: autoplayTimer 7s linear infinite;
                }

                .pause {
                    display: block;
                }

                .play {
                    display: none;
                }
            }
        }
    }

    a {
        text-decoration: none;
        line-height: 1;
    }

    picture {
        display: block;
        padding: 1px;
        border: 1px solid var(--brand-lighter-grey);
        transition: border-color .15s, background-color .15s;
        background: var(--brand-beige);
    }

    span {
        display: block;
        text-decoration: none;
        padding: 6px 6px 10px;
        color: var(--brand-dark-grey);
    }

    a:hover picture, a:focus picture {
        border-color: var(--brand-orange);
        background-color: var(--brand-orange);
    }
}

@media (scripting: none) {
    .glide__slides {
        flex-wrap: wrap;
    }
}

.embla__container {
    display: flex;
    width: 100%;
}

.embla__slide {
    flex: 0 0 100%;
    min-width: 0;

    picture {
        width: 100%;
    }
}

/* https://cssloaders.github.io/ */
@keyframes autoplayTimer {
    0% {
        clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0);
    }
    25% {
        clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0);
    }
    50% {
        clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%);
    }
    75% {
        clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%);
    }
    100% {
        clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 0);
    }
}
