.posts-pagination {
    font-size: 18px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 42px 0 24px;

    @media (--lg) {
        grid-template-columns: repeat(3, 1fr);
        font-size: 22px;
    }

    .next {
        text-align: right;
        grid-column: 2;

        @media (--lg) {
            grid-column: auto;
        }
    }

    .pages {
        display: none;
        list-style: none;
        margin: 0;
        padding: 0;

        @media (--lg) {
            display: flex;
            flex-flow: row nowrap;
            justify-self: center;
        }

        a {
            padding: 4px;
        }

        .active {
            background: var(--brand-orange);
            color: #FFF;
            text-decoration: none;
        }
    }
}
