.posts-pagination {
    font-size: 18px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 36px 0 18px;

    .next {
        text-align: right;
    }

    .pages {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        flex-flow: row nowrap;
        justify-self: center;

        a {
            padding: 4px;
        }

        .active {
            background: var(--brand-orange);
            color: #FFF;
            text-decoration: none;
        }
    }
}
