.search-form {
    display: flex;
    justify-content: flex-end;
    padding: 4px 0 0;
    flex: 1 0 100%;

    &.-lg {
        padding: 12px 0 24px;
    }

    label {
        display: none; /* DEVTODO replace with visually hidden */
    }

    .query {
        border: 1px solid var(--brand-lighter-grey);
        border-radius: 3px 0 0 3px;
        border-right: none;
        background: #FFF;
        color: var(--brand-dark-grey);
        padding: 3px 4px;
        width: 155px;
    }

    &.-lg .query {
        width: 100%;
        font-size: 24px;
    }

    .search {
        background: var(--brand-dark-grey);
        border: none;
        border-radius: 0 3px 3px 0;
        font-size: 0;
        color: rgba(255, 255, 255, 0);
        transition: background-color .15s ease-in-out;
        cursor: pointer;

        svg {
            width: 16px;
            height: 16px;
            stroke-width: 0;
            fill: var(--brand-beige);
        }

        &:focus, &:hover {
            background-color: var(--brand-orange);
        }
    }

    &.-lg .search {
        padding: 0 8px;

        svg {
            width: 24px;
            height: 24px;
        }
    }
}
