.site-footer {
    max-width: var(--container-width);
    margin: 0 auto 58px;
    padding: 12px 0 0;
    border-top: 1px solid var(--brand-lighter-grey);
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 16px;

    @media (--lg) {
        grid-template-columns: repeat(2, 1fr);
    }

    .socialmedia {
        ul {
            display: flex;
            flex-flow: row nowrap;
            gap: 12px;
            padding: 0;
            margin: 0;
        }

        li {
            font-size: 0;
            color: rgba(0, 0, 0, 0);
        }

        svg {
            width: 21px;
            height: 21px;
            fill: var(--brand-grey);
            transition: fill .15s ease-in-out;
        }

        a:hover svg, a:focus svg {
            fill: var(--brand-orange);
        }
    }


    @media (--lg) {
        .copyright {
            justify-self: end;
        }
    }

    .logo {
        font: 700 24px/1 var(--font-title);
        letter-spacing: -1.5px;
        text-decoration: none;
        color: var(--brand-orange);
        flex: 1 0 auto;

        &:hover b {
            color: var(--brand-orange);
        }

        b {
            color: var(--brand-dark-grey);
            transition: color .15s;
        }
    }
}
