.site-footer {
    max-width: var(--container-width);
    margin: 0 auto 58px;
    padding: 6px 0 0;
    border-top: 1px solid var(--brand-lighter-grey);
    display: flex;
    flex-flow: row wrap;

    @media (--lg) {
        flex-wrap: nowrap;
    }

    .socialmedia {
        flex: 1 0 auto;
        padding: 0 0 12px;

        ul {
            display: flex;
            flex-flow: row nowrap;
            gap: 8px;
            padding: 0;
            margin: 0;
        }

        li {
            font-size: 0;
            color: rgba(0, 0, 0, 0);
        }

        svg {
            width: 18px;
            height: 18px;
            fill: var(--brand-grey);
            transition: fill .15s ease-in-out;
        }

        a:hover svg, a:focus svg {
            fill: var(--brand-orange);
        }
    }

    .copyright {
        flex: 0 0 auto;
    }

    .logo {
        font: 700 18px/1 var(--font-title);
        letter-spacing: -1.5px;
        text-decoration: none;
        color: var(--brand-orange);
        flex: 1 0 auto;

        &:hover b {
            color: var(--brand-orange);
        }

        b {
            color: var(--brand-dark-grey);
            transition: color .15s;
        }
    }
}
