.site-header {
    margin: 0 auto 24px;
    max-width: var(--container-width);
    padding: 8px 12px 4px;
    border-bottom: 1px solid var(--brand-darker-beige);
    display: flex;
    flex-flow: row wrap;
    align-items: center;

    .logo {
        font: 700 24px/1 var(--font-title);
        letter-spacing: -1.5px;
        text-decoration: none;
        color: var(--brand-orange);
        flex: 1 0 auto;

        @media (--lg) {
            font-size: 28px;
        }

        &:hover b {
            color: var(--brand-orange);
        }

        b {
            color: var(--brand-dark-grey);
            transition: color .15s;
        }
    }

    .nav {
        ul {
            font-size: 0;
        }

        li {
            display: inline-block;
            font-size: 14px;
            line-height: 1;
            margin: 0 0 0 16px;
            vertical-align: middle;
        }

        a {
            color: var(--brand-dark-grey);
            text-decoration: none;
            transition: color .15s;

            &:hover, &:focus {
                color: var(--brand-orange);
            }
        }

        .active a {
            color: var(--brand-orange);
            font-weight: 700;
        }

        .rss {
            display: inline-flex;
            justify-content: center;
            align-items: center;
            background: var(--brand-dark-grey);
            font-size: 0;
            border: none;
            border-radius: 3px;
            width: 19px;
            height: 19px;
            transition: background-color .1s ease-in-out;

            &:hover, &:focus {
                background: var(--brand-orange);
            }

            svg {
                width: 15px;
                height: 15px;
                fill: var(--brand-beige);
            }
        }
    }
}
